venv
# Environments
.env
*.env
**/.env
venv/
**/venv/

# Specific paths
backend/.env
frontend/.env

data/
Archive/
backend/data/
backend/app/memories.db

backend\memories.db
backend\data
*.env
**/.env
backend\data\processed